---
import Layout from "../layouts/Layout.astro";
import { TickerList, Trade } from "../components/TickerList";
import { readCsv } from "../utils";

const filePath =
  "data/history_transaction_recode_ecb12a29519d423a917ee4160ffba82e_1674930394870.csv";

const tradeHistory = await readCsv<Trade>(filePath, (csvRow) => ({
  ticker: csvRow[0],
  datetime: csvRow[1],
  side: csvRow[2] as any,
  filledPrice: csvRow[3],
  executedAmount: csvRow[4],
  total: csvRow[5],
  fee: csvRow[6],
  role: csvRow[7]as any,
}));
// console.log("📜 LOG > tradeHistory:", tradeHistory[0]);
---

<Layout title="TradeJournal">
  <main>
    <h1><span class="text-gradient">TradeJournal</span></h1>
    <TickerList client:load tradeHistory={tradeHistory}/>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
