@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto:wght@300;400;500;700&display=block");

::selection {
  color: var(--mui-palette-background-default);
  background: var(--mui-palette-primary-main);
}

html {
  scrollbar-width: thin;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
  border-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar {
  background: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background: rgba(205, 205, 205);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(195, 195, 195);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar {
  background: rgb(50, 50, 50);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
