/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,700&family=Roboto+Mono:wght@200;300;400&family=Roboto+Serif:opsz,wght@8..144,300;8..144,500&display=block'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,700&family=Roboto+Mono:wght@200;300;400&family=Roboto+Serif:opsz,wght@8..144,300;8..144,500&family=Space+Mono&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,700&family=Roboto+Serif:opsz,wght@8..144,300;8..144,500&display=swap');
::selection {
  color: var(--mui-palette-background-default);
  background: var(--mui-palette-primary-main);
}

html {
  scrollbar-width: thin;
  /* overflow-y: scroll; TODO */
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
  border-color: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar {
  background: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background: rgba(205, 205, 205);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(195, 195, 195);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar {
  background: rgb(50, 50, 50);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar-thumb {
  background: rgba(65, 65, 65);
}

html[data-mui-color-scheme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
